.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 24px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}

.header-popup {
  display: flex;
  justify-content: flex-end;
}

.header-popup .btn-close {
  transition: all 200ms;
  font-size: var(--lg-font-size);
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.popup {
  margin: auto;
  padding: 20px;
  background: var(--white-color);
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  max-height: calc(100% - 64px);
  width: 800px;
}

.content-popup {
  padding: 16px 0;
}

.body-popup {
  display: grid;
  gap: 20px;
}

.info-popup {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.info-list-popup {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-container.open {
  visibility: visible;
  opacity: 1;
}

.modal-container .btn-main {
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Tablet */
@media (min-width: 768px) {
  .body-popup {
    display: flex;
    justify-content: center;
  }

  .info-popup {
    width: 80%;
  }

  .info-popup {
    gap: 48px;
  }
}
